body{
background:#0f172a;
color:white;
font-family:monospace;
text-align:center;
}

h1{
margin-top:40px;
}

svg{
width:800px;
margin:auto;
display:block;
}

path{
stroke:#00ff9c;
stroke-width:2;
stroke-dasharray:1000;
stroke-dashoffset:1000;
animation:draw 6s linear forwards;
}

@keyframes draw{
to{
stroke-dashoffset:0;
}
}
