body{

background:#0b1a33;
color:white;

font-family:monospace;
text-align:center;

margin:0;
padding:40px;

}

h1{
font-size:32px;
margin-bottom:40px;
}

svg{

width:1100px;
max-width:90vw;

display:block;
margin:auto;

}

path{

stroke:#00ffa6;
stroke-width:3;

stroke-dasharray:5000;
stroke-dashoffset:5000;

animation: drawLine 10s linear forwards;

}

@keyframes drawLine{

to{
stroke-dashoffset:0;
}

}
